body {
}

#divNearest, #divNearestAdditional, #btnFindAlternative, #btnZoomOnMap {
    display:none;
}

#map {
    height: 500px;
    width: 100%;
}

.marker-cluster-taunton {
    background-color: #F47C3C;
}

    .marker-cluster-small div {
        background-color: #F47C3C;
    }

.marker-cluster-wells {
    background-color: #29ABE0;
}

    .marker-cluster-medium div {
        background-color: #29ABE0;
    }


/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-taunton {
    background-color: #F47C3C;
}

    .leaflet-oldie .marker-cluster-taunton div {
        background-color: #F47C3C;
    }

.leaflet-oldie .marker-cluster-wells {
    background-color: #29ABE0;
}

    .leaflet-oldie .marker-cluster-wells div {
        background-color: #29ABE0;
    }


.marker-cluster {
    background-clip: padding-box;
    border-radius: 15px;
}

    .marker-cluster div {
        width: 20px;
        color: #fff;
        height: 20px;
        margin-left: 0px;
        margin-top: 0px;
        text-align: center;
        border-radius: 10px;
        font: 9px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    .marker-cluster span {
        line-height: 20px;
    }

/* css to customize Leaflet default styles  */
.taunton-popup .leaflet-popup-tip,
.taunton-popup .leaflet-popup-content-wrapper {
    background: #F47C3C;
    color: #ffffff;
}
.wells-popup .leaflet-popup-tip,
.wells-popup .leaflet-popup-content-wrapper {
    background: #29ABE0;
    color: #ffffff;
}